data
output
weights
trainers/__pycache__
datasets/__pycache__
clip/__pycache__
.vscode
vis.ipynb
slurms

configs/trainers/CoCoOp
configs/trainers/CoOp
configs/trainers/IVLP
configs/trainers/MaPLe
configs/trainers/VPT
scripts/coop
scripts/cocoop
scripts/vpt
scripts/zsclip
scripts/tpt
scripts/tpt_supp
scripts/independent-vlp